
# tools
node_modules
.npmignore
.turbo
dist

# next
.next

# docs will be auto gen (Comment out for now)
#apps/website/api/sr
#apps/website/api/selectors

# Scraper/analyzer 
scrape/download*


#Docs
docs/*
cache

