
# tools
node_modules
.npmignore
.turbo
dist

# next
.next

# docs (pray that anything else is not named api) used to autogen
api.md
# service worker for docs
sw.js
sw.js.map

# Scraper/analyzer 
scrape/download*